{% extends 'app_quote/base.html' %}

{% block content %}

    <h3>Add Author</h3>
    <form method="post" class="mb-3">
        {% csrf_token %}
        {% if form.errors and form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form.fullname }}
        </div>
        <div class="mb-3">
            {{ form.born_date }}
        </div>
        <div class="mb-3">
            {{ form.born_location }}
        </div>
        <div class="mb-3">
            {{ form.description }}
        </div>
        <div class="d-flex mt-3">
            <div class="col-10">
                <button type="submit" class="btn btn-outline-secondary w-100">Add Author</button>
            </div>
            <div class="flex-grow-1 ms-2 col-2">
                {% if previous_url %}
                    <a href="{{ previous_url }}" class="btn btn-secondary w-100">Cancel</a>
                {% else %}
                    <a href="{% url 'app_quotes:index' %}" class="btn btn-secondary w-100">Homepage</a>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock %}
