{% extends 'app_quote/base.html' %}

{% block content %}

    <h3>Add Author</h3>
    <form class="input-group mb-3 p-3 input-group-text" method="post">
        {% csrf_token %}
        <div class="col-12">
            <label class="visually-hidden" for="autoSizingInputGroup">Fullname</label>
            <div class="input-group w-100">
                {{ form.fullname }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <label class="visually-hidden" for="autoSizingInputGroup">Date of birth</label>
            <div class="input-group w-100">
                {{ form.born_date }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <label class="visually-hidden" for="autoSizingInputGroup">Place of birth</label>
            <div class="input-group w-100">
                {{ form.born_location }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="input-group w-100">
                {{ form.description }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>

    </form>

{% endblock %}