{% extends 'app_quote/base.html' %}

{% block content %}
    <h3>Edit Quote</h3>
    <form class="mb-3 p-3" method="post">
        {% csrf_token %}
        <div class="col-12">
            <div class="input-group w-100">
                {{ form.author }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="input-group w-100">
                {{ form.tags }}
            </div>
            {% if form.tags.help_text %}
                <small class="form-text text-muted">{{ form.tags.help_text }}</small>
            {% endif %}
        </div>
        <div class="col-12 mt-3">
            <div class="input-group w-100">
                {{ form.quote }}
            </div>

        </div>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul class="mb-0">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="d-flex mt-3">
            <div class="col-10">
                <button type="submit" class="btn btn-primary w-100">Confirm changes</button>
            </div>
            <div class="flex-grow-1 ms-2 col-2">
                {% if previous_url %}
                    <a href="{{ previous_url }}" class="btn btn-secondary w-100">Назад</a>
                {% else %}
                    <a href="{% url 'app_quotes:index' %}" class="btn btn-secondary w-100">На главную</a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
