{% extends 'app_quote/base.html' %}

{% block content %}

    <h1>Quotes to Scrape</h1>
    <div class="mt-5">

        <div class="card col-8">
            {% for quote in result_quotes %}
                <div class="card-body">

                    <p class="card-text">{{ quote.quote }}</p>
                    <div>
                        <span class="fs-6">By</span>
                        <span class="fs-6 fw-semibold">{{ quote.author }}</span>
                        <a href="{% url 'app_quotes:author' quote.author.id %}"
                           class="link-offset-2 link-underline link-underline-opacity-0 link-opacity-50-hover">about</a>
                    </div>

                    <div class="mt-3">

                        <span>Tags: </span>
{#                        {% for tag in quote.tags.split(',') %}#}
                            <button type="button" class="btn btn-outline-secondary btn-sm">tags_list</button>
{#                        {% endfor %}#}
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}