{% extends 'app_quote/base.html' %}

{% block content %}
    <h1>Quotes to Scrape</h1>
    <div class="row mt-5">
        <div class="card col-10">
            {% for quote in result_quotes %}
                <div class="card-body">
                    <p class="card-text">{{ quote.quote }}</p>
                    <div>
                        <span class="fs-6">By</span>
                        <span class="fs-6 fw-semibold">{{ quote.author }}</span>
                        <a href="{% url 'app_quotes:author' quote.author.id %}"
                           class="link-offset-2 link-underline link-underline-opacity-0 link-opacity-50-hover">about</a>
                    </div>
                    <div class="row mt-3">
                        <div class="col-1">
                            <span>Tags: </span>
                        </div>
                        <div class="col-11">
                            {% for tag in quote.tags.all %}
                                <button type="button"
                                        class="btn btn-outline-secondary btn-sm p-0 px-1">{{ tag.name }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-2">

            <div style="text-align: right;">
            <span>abba</span>
            </div>

        </div>
    </div>
{% endblock %}