{% extends 'app_quote/base.html' %}


{% block content %}
    {% if user.is_authenticated %}
        <h1>Search result for "{{ search_request }}"</h1>
    {% endif %}
    {% if page_obj %}
        <div class="row">
            <div class="row mt-5 col-9 ">
                {% for quote in page_obj %}
                    <div class="card mb-4 bg-color-card">
                        <div class="card-body">
                            <p class="card-text">{{ quote.quote }}</p>
                            <hr>
                            <div>
                                <span class="fs-6">By</span>
                                <span class="fs-6 fw-semibold">{{ quote.author }}</span>
                                <a href="{% url 'app_quotes:author' quote.author.id %}"
                                   class="link-offset-2 link-underline link-underline-opacity-0 link-opacity-50-hover">about</a>
                            </div>
                            <div class="row mt-3">
                                <div class="col-1 tags-c">
                                    <span>Tags: </span>
                                </div>
                                <div class="col-11">
                                    {% for tag in quote.tags.all %}
                                        <a type="button" class="btn btn-outline-secondary btn-sm p-0 px-1"
                                           href="{% url 'app_quotes:tag' tag.name %}">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-grid gap-2 col-6 mx-auto pagination text-center">
                <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary" href="?page=1">&laquo; first</a>
                <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
                    <span class="current ms-2">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-secondary ms-2" href="?page={{ page_obj.next_page_number }}">next</a>
                        <a class="btn btn-outline-secondary"
                           href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                </div>
            </div>
            <div class="mt-5 col-3">
                <div class="end-text-block">
                    <h2 class="mb-3 top-ten-tags">Top Ten Tags</h2>
                    {% for tag in top_tags %}
                        <div class="nav justify-content-end mb-1">
                            <div>
                                <a type="button" class="btn btn-outline-secondary btn-sm p-0 px-2 top-tag-item" style="font-size:
                                        {% if forloop.counter0 == 0 %} 28px {% endif %}
                                        {% if forloop.counter0 == 1 %} 26px {% endif %}
                                        {% if forloop.counter0 == 2 %} 24px {% endif %}
                                        {% if forloop.counter0 == 3 %} 22px {% endif %}
                                        {% if forloop.counter0 == 4 %} 20px {% endif %}
                                        {% if forloop.counter0 == 5 %} 18px {% endif %}
                                        {% if forloop.counter0 == 6 %} 16px {% endif %}
                                        {% if forloop.counter0 == 7 %} 14px {% endif %}
                                        {% if forloop.counter0 == 8 %} 12px {% endif %}
                                        {% if forloop.counter0 == 9 %} 10px {% endif %}"
                                   href="{% url 'app_quotes:tag' tag.name %}">{{ tag.name }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% if user.is_authenticated %}
            <div class="position-absolute top-50 start-50 translate-middle">
                <a class="btn btn-primary" href="{% url 'app_quotes:init' %}">Initialization of basic data</a>
            </div>
        {% else %}
            <div class="d-grid gap-2 mx-auto  position-absolute top-50 start-50 translate-middle">
                <h4 class="">To initialize basic data, please login/register</h4>
                <a class="btn btn-outline-primary" href="{% url 'app_user:signin' %}">Signin</a>
                <a class="btn btn-outline-primary" href="{% url 'app_user:signup' %}">Create an account</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}